.aboutpage-origin {
    position: absolute;
    top: 0;
    left: 0;


}
.heading{
    font-size: 20px;
    font-weight: 500;
    color: #8f00e7;
}
.matter {
    font-weight: 500;
    color: rgb(0, 0, 0);
}
.details-of-rpf{
display: flex;
justify-content: center;
color: rgb(245, 67, 67);
}
