.second-container.trail{
    display: flex;
    flex-direction: column;
}
.fields.trail 
{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.second.trail{
    display: flex;
    flex-direction: column;
}
.second-container.trail header{
    
    font-size: 1.7rem;
    font-weight: 600;
    color: #b82d2d;
    display: flex;
    justify-content: center;
    padding: 20px;

}
.input-field label{
    font-size: 17px;
    font-weight: 500;
    color: #2e2e2e;
}
.input-field input, select,
.second input{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #343232;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
    width: 15em;
}
.second-container form .title{
    padding-left: 0px;
    color: brown;
    display: flex;
    width: max-content;
    font-size: 1.3em;
}

.buttons{
    padding: 0px 0px;
    display: flex;
    justify-content: end;
    }
    .btn {
        padding: 9px;
        margin: 10px;
        background-color: rgb(0, 92, 162);
        color: white;
        border: none;
        outline: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s linear;
    }
    a {
        color: white;
        text-decoration: none;
    
    } 
    .input-field.post label{
        padding-right: 2.5rem;
    }
 .trail{
   display: grid;
   justify-content: center;

 }
 select{
    width: 210px;
 }
 .main{
    margin-left: 20px;
 }
 form{
    display: flex;
    justify-content: center;
 }
input.crime{
    margin-left: 33px;
}
.sec{
    margin-left: 2px;
}